* {
  font-family: 'Inter', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
*:before,
*:after {
    box-sizing: border-box;
    pointer-events: none;
}

ul,
li,
ol {
    list-style-type: none;
}
.container {
  max-width: 375px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}
.input_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input_title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}
.required {
  color: var(--error-color);
}