:root {
  --primary-lighten-2: #00C697;
  --primary-lighten-1: #00AE75;
  --primary-color: #008E59;
  --primary-darken-1: #007C49;
  --primary-darken-2: #00683A;
  --success-color: #19B07A;
  --warning-color: #F2A309;
  --notification-color: #EF6418;
  --error-color: #D12C2C;
  --grey-lighten-3: #fff;
  --grey-lighten-2: #F7F8FA;
  --grey-lighten-1: #DEE5ED;
  --grey-color: #888C96;
  --grey-darken-1: #535969;
  --grey-darken-2: #33333D;
  --grey-darken-3: #19191A;
  --special-2-color: rgba(200, 212, 227, 0.40);
}